.rocket {
  position: fixed;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;

  & i {
    font-size: 2.5rem;
    color: lightgray;
  }
  &:hover {
    i {
      color: lightseagreen;
    }
  }
}
