.tags {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  user-select: none;
  height: fit-content;
  margin-top: 0.5rem;

  .tag {
    cursor: pointer;
    line-height: 1.2rem;
    display: inline-block;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border: 1px solid #bdb7b7;
    border-radius: 0.8rem;
    font-size: 0.6rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #bdb7b7;

    &:hover {
      color: lightseagreen;
      border-color: lightseagreen;
    }
  }
}
