.tags {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  user-select: none;
  height: fit-content;
  width: 100%;
  padding: 1.5rem 0;

  .tag {
    cursor: pointer;
    line-height: 1.2rem;
    display: inline-block;
    padding: 0.25rem 0.8rem;
    box-sizing: border-box;
    border-radius: 1rem;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: white;
    background-color: #d1d1d1;

    &:hover {
      background-color: lightseagreen;
    }
  }
}

.tagedPosts {
  .tag {
    color: lightseagreen;
    padding: 2rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }

  .postContainer {
    margin: 1.5rem 0;
    padding-bottom: 0.5rem;
    color: #404040;
    border-bottom: 1px solid rgb(245, 245, 245);
    cursor: pointer;

    .title {
      &:hover {
        color: lightseagreen;
      }
    }

    .discription {
      margin-top: 0.5rem;
      color: gray;
      font-size: 0.8rem;
      font-style: italic;
      &:hover {
        color: lightseagreen;
      }
    }
  }
}
