.Header {
  width: 100%;
  height: 20rem;
  position: relative;
  background-repeat: no-repeat;
}

.toolBar {
  width: 100%;
  height: 3.5rem;
  background-color: lawngreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  user-select: none;

  .siteName {
    font-weight: bold;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  .navContainer {
    display: flex;
    .navItem {
      font-weight: bold;
      color: white;
      font-size: 0.9rem;
      padding-left: 1rem;
      cursor: pointer;
      &:hover {
        color: lightcyan;
      }
    }
  }
}

.collapseBar {
  position: absolute;
  right: 1rem;
  top: 3.5rem;
  width: 8rem;
  background-color: white;
  user-select: none;
  padding: 0.5rem 0;
  box-sizing: border-box;

  .item {
    width: 100%;
    height: 2.5rem;
    color: lightgray;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.zoomTransitionActive {
  transform: scale(1);
}

.zoomTransitionExit {
  transform: scale(0);
}

.zoomInRT {
  transform-origin: 100% 0;
  animation: zoomIn 0.5s ease-in-out;
}

.zoomOutRT {
  transform-origin: 100% 0;
  animation: zoomOut 0.5s ease-in-out;
}
