.enter {
  transform: translateY(-100%);
}

.enterActive {
  transform: translateY(0);
  transition: all 200ms ease-out;
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(-100%);
  transition: all 200ms ease-in;
}
